*.DS_Store
bin/
*.swp
.project
.classpath
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/*
target/
Datavisualize/
.idea
.idea*
newssql.iml
reset
out/
META-INF/
/.metadata/
test_queries/tatsu/
Datavisualize/
Datavisualize的副本/
testSpeech/
test_queries/smtb/
test_queries/li.sql
